{% extends 'base.html' %}
{% block title %} | Creer un gig {% endblock %}
{% block content %}
<div class="container">
 <div class="box">
     <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
                <label class="label">Gig title</label>
                <div class="control">
                  <textarea class="textarea" name="title"> {{ gig.title }} </textarea>
                </div>
        </div>
        <div class="field">
                <label class="label">Catégorie</label>
                <div class="control is-medium">
                  <div class="select">
                    <select name="category" value="{{ gig.category }}">
                        <option {% if gig.category == "GD" %} selected {% endif %} value="GD">Graphis & Design</option>
                        <option {% if gig.category == "DM" %} selected {% endif %} value="DM">Digital & Marketing</option>
                        <option {% if gig.category == "VA" %} selected {% endif %} value="VA">Video & Animation</option>
                        <option {% if gig.category == "MA" %} selected {% endif %} value="MA">Music & Video</option>
                        <option {% if gig.category == "PT" %} selected {% endif %} value="PT">Programming & Tech</option>
                    </select>
                  </div>
                </div>
        </div>
        <div class="field">
                <label class="label">Description</label>
                <div class="control">
                  <textarea class="textarea" name="description"> {{ gig.description }} </textarea>
                </div>
        </div>
  <div class="field">
    <label class="label">Prix</label>
    <div class="control has-icons-left has-icons-right">
      <input class="number" type="number" name="price" value="{{ gig.price }}">
      <span class="icon is-small is-left">
        <i class="fas fa-dollar-sign"></i>
      </span>
    </div>
  </div>
  
  <div class="field">
    <label class="label">Photo</label>
    <div class="control has-icons-left has-icons-right">
        <small>Actuellement: {{ gig.photo }}</small>
      <input class="file" name="photo" type="file">
    </div>
  </div>
  
  <div class="field">
        <label class="label">Statut</label>
        <div class="control">
          <div class="select">
            <select name="status">
                <option value="1" {% if gig.status %} selected {% endif %} >Activé</option>
                <option value="" {% if not gig.status %} selected {% endif %} >Désactivé</option>
            </select>
          </div>
        </div>
</div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link" type="submit">Modifier</button>
    </div>
    <div class="control">
      <button class="button is-text">Annuler</button>
    </div>
  </div>
</form>
</div>
</div>

{% endblock %}