{% extends 'base.html' %} {% block title %} | Register {% endblock %} 
{% block content %}
<section class="hero is-success is-fullheight">
        <div class="hero-body">
          <div class="container">
            {% include 'partials/_alert.html' %}
            <div class="columns is-centered">
              <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                <form class="box" action=" {% url 'register' %} " method="POST">
                  {% csrf_token %}
                  <div class="field">
                    <label class="label">Prémon</label>
                    <div class="control has-icons-left">
                      <input class="input" type="text" name="first_name" placeholder="Ndene" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                      <label class="label">Nom</label>
                      <div class="control has-icons-left">
                        <input class="input" type="text" name="last_name" placeholder="SENE" required>
                        <span class="icon is-small is-left">
                          <i class="fa fa-envelope"></i>
                        </span>
                      </div>
                    </div>
                  <div class="field">
                      <label class="label">Nom d'utilisateur</label>
                      <div class="control has-icons-left">
                        <input
                          class="input"
                          type="text"
                          name="username"
                          placeholder="ndene"
                          required
                        />
                        <span class="icon is-small is-left">
                          <i class="fa fa-user"></i>
                        </span>
                      </div>
                    </div>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left">
                          <input class="input" type="email" name="email" placeholder="e.g. alexjohnson@gmail.com" required>
                          <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                          </span>
                        </div>
                      </div>
                  <div class="field">
                    <label class="label">Mot de passe</label>
                    <div class="control has-icons-left">
                      <input class="input" type="password" name="password" placeholder="********" required>
                      <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label"> Confirmer Votre mot de passe</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" name="password2" placeholder="********" required>
                            <span class="icon is-small is-left">
                              <i class="fa fa-lock"></i>
                            </span>
                    </div>
                  </div>
                  <div class="field">
                    <button class="button is-success is-fullwidth" type="submit">
                      S'inscrire
                    </button>
                  </div>
                  <div class="panel-block">
                        <a class="button is-link is-outlined is-fullwidth" onclick="$(this).button('loading');" style="background:blue; color:white" name="facebook" 
                        href="{% url 'social:begin' 'facebook' %}"
                        >
                             Login with Facebook
                        </a>

                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}